#header {
  color: #5b83ad;
}
.spinner {
  display: inline-block;
  /*opacity: 0;*/
  /*max-width: 0;*/
  cursor: progress;
  -webkit-transition: opacity 0.25s, max-width 0.45s;
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s;
}
.taskTable {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100px;
  left: 50px;
  width: 500px;
}
.taskTable .taskClose {
  float: right;
}
.taskInfo {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  margin: 0;
}
.taskInfo div {
  margin: 0;
  padding: 0;
}
.table > tbody > tr > td.lightest,
.table > tbody > tr.lightest > td {
  background-color: #FFE6E6;
}
.table > tbody > tr > td.lighter,
.table > tbody > tr.lighter > td {
  background-color: #FF9999;
}
.table > tbody > tr > td.light,
.table > tbody > tr.light > td {
  background-color: #FF6666;
}
.table > tbody > tr > td.dark,
.table > tbody > tr.dark > td {
  background-color: #FF4D4D;
}
.table > tbody > tr > td.darker,
.table > tbody > tr.darker > td {
  background-color: #FF3333;
}
.table > tbody > tr > td.darkest,
.table > tbody > tr.darkest > td {
  background-color: #FF0000;
}
